name: ai_assistant_bot  # Явно задаем имя проекта латиницей

services:
  db:
    image: postgres:16
    container_name: bot_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123hors
      POSTGRES_DB: bot_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: bot_redis
    restart: always
    ports:
      - "6379:6379"

  bot:
    build: .
    container_name: tg_bot
    restart: always
    command: python main.py
    depends_on:
      - db
      - redis
    env_file:
      - .env

  worker:
    build: .
    container_name: celery_worker
    restart: always
    command: celery -A services.tasks worker --loglevel=info -P solo
    depends_on:
      - redis
      - db
    env_file:
      - .env

volumes:
  postgres_data: